/* table {
  margin: 25% auto;
  width: 100%;
  height: 100%;
  border: 3px solid green;
  
} */
:root {
    --table-size: 25%;
    --font-size: 1.5rem;
}

#tracker {
    background-color: yellowgreen;
    width: 20%;

    margin: auto;

}

table {
    width: var(--table-size);
    height: var(--table-size);
    margin: 5% auto;
    border-collapse: collapse;
    font-size: var(--font-size);
}

td {
    padding: 5%;
    border: 2px solid;
    text-align: center;
    vertical-align: middle;
    /* white-space: nowrap; */
    width: calc(var(--table-size) / 3);
    max-width: calc(var(--table-size) / 3);
    max-height: calc(var(--table-size) / 3);
    /* overflow: hidden; */
}

form {
    text-align: center;
}

input {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 20%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#tell_time {
    text-align: center;
}